<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ramon_san.ibero_bank">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IberoBank"
        tools:targetApi="31">
        <activity
            android:name=".UserNewAccountActivity"
            android:exported="false" />
        <activity
            android:name=".UserNewCardActivity"
            android:exported="false" />
        <activity
            android:name=".UserModifyClientActivity"
            android:exported="false" />
        <activity
            android:name=".UserNewClientActivity"
            android:exported="false" />
        <activity
            android:name=".UserCardActivity"
            android:exported="false" />
        <activity
            android:name=".UserAccountActivity"
            android:exported="false" />
        <activity
            android:name=".UserClientActivity"
            android:exported="false" />
        <activity
            android:name=".AtmCheckTransactionsActivity"
            android:exported="false" />
        <activity
            android:name=".AtmChangeNipActivity"
            android:exported="false" />
        <activity
            android:name=".AtmTransactionsActivity"
            android:exported="false" />
        <activity
            android:name=".AtmMenuActivity"
            android:exported="false" />
        <activity
            android:name=".NipActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".AtmActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>